{{#each articles}}{{#if saved}}
<div class="card">
    <div class="card-header bg-primary">
        <div class="header-right">
            <button type="button" class="btn notes-btn btn-success" id="notes-btn" data-id="{{_id}}">Notes</button>
            <button type="button" class="btn return-btn btn-danger" id="return-btn" data-id="{{_id}}">Unsave</button>
        </div>
        <div class="header-left">
            <h3 class="articleTitle">{{title}}</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="body-left">
            <img src="{{image}}" class="article-img" height="150">
        </div>
        <div class="body-right">
            <p class="summary">{{summary}}</p>
            <a href="{{link}}" target="_blank">
                <p class="articleLink">{{link}}</p>
            </a>
        </div>
    </div>
</div>
<br>
{{/if}}{{/each}}